<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:href="@{/reservation}">Reservation</a>
        </div>
    </div>
</nav>
</body>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <br>
            <br>
            <div th:if="${param.success}">
                <div class="alert alert-info">Client et Reservation est ajouté avec succés , chequer votre email pour vérifier </div>
            </div>
            <h1>Registration Client</h1>

            <form th:action="@{/client}" method="post" th:object="${client}">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="firstName"> First Name </label>
                            <input id="firstName" class="form-control" th:field="*{prenom}" required autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="lastName"> Last Name </label>
                            <input id="lastName" class="form-control" th:field="*{nom}" required autofocus="autofocus" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="adresse"> Adresse</label> <input
                        id="adresse" class="form-control" th:field="*{adresse}"
                        required autofocus="autofocus" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="phone"> Phone</label> <input
                                id="phone" class="form-control" th:field="*{telephone}"
                                required autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label" for="cin"> Cin</label> <input
                                id="cin" class="form-control" th:field="*{cin}"
                                required autofocus="autofocus" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label"> Gender</label>
                    <div class="form-inline">
                        <div class="radio">
                            <label>
                                <input type="radio" th:field="*{gender}" th:value="Male" /> Male
                            </label>
                        </div>
                        <div class="radio" style="margin-left: 10px;">
                            <label>
                                <input type="radio" th:field="*{gender}" th:value="Female" /> Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="datenaissance">Date de naissance</label>
                    <input id="datenaissance" class="form-control" th:field="*{dateDeNaissance}"
                           th:type="date" required autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="email"> Email </label> <input
                        id="email" class="form-control" th:field="*{email}" required
                        autofocus="autofocus" />
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="Ajouter" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>